@import "tailwindcss";
@import "tw-animate-css";

/* Customize React Slick dots */
.slugSlider .slick-dots li button:before {
  color: #fcd34d !important; /* Tailwind yellow-300 */
  opacity: 0.5;
}

.slugSlider .slick-dots li.slick-active button:before {
  color: #fcd34d !important; /* Tailwind yellow-300 */
  opacity: 1;
}